PORT=8000

MONGODB_URI=mongodb+srv://Emma:<db_password>@dev-m0.quxttrm.mongodb.net/?appName=dev-m0

OWNER_NUMBER=50943700315

NEWSLETTER_JID=

CHANNEL_LINK=https://whatsapp.com/channel/0029VbD070zFsn0asdSPyO0O

PM2_NAME=orion-md
